<div class='row column text-center'>
	<h1>Testing SPF</h1>
	<p class='lead'>Not sure if I like loading chunks of html wrapped in JSON.</p>
	<a href='#' class='button large'>I agree</a>
	<a href='#' class='button large hollow'>I disagree</a>
</div>