<header id="header" class="callout large">
	<div class='row column text-center'>
		<h1>Testing SPF</h1>
		<p class='lead'>Not sure if I like loading chunks of html wrapped in JSON.</p>
		<a href='#' class='button large'>I agree</a>
		<a href='#' class='button large hollow'>I disagree</a>
	</div>
</header>

<section id="content">

	<div class="row">
		<div class="medium-6 columns medium-push-6">
			<img class="thumbnail" src="http://placehold.it/750x350">
		</div>
		<div class="medium-6 columns medium-pull-6">
			<h2>Our Agency, our selves.</h2>
			<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
		</div>
	</div>
	<div class="row">
		<div class="medium-4 columns">
			<h3>Photoshop</h3>
			<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
		</div>
		<div class="medium-4 columns">
			<h3>Javascript</h3>
			<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
		</div>
		<div class="medium-4 columns">
			<h3>Marketing</h3>
			<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
		</div>
	</div>
	<hr>
	<div class="row column">
		<ul class="vertical medium-horizontal menu expanded text-center">
			<li><a href="./models.php"><div class="stat">5</div><span>Models</span></a></li>
			<li><a href="./photos.php"><div class="stat">28</div><span>Photo Sets</span></a></li>
			<li><a href="./videos.php"><div class="stat">43</div><span>Videos</span></a></li>
			<li><a href="./xxx.php"><div class="stat">22</div><span>XZX</span></a></li>
		</ul>
	</div>
	<hr>
	<div class="row column">
		<h3>Our Recent Work</h3>
	</div>
	<div class="row medium-up-3 large-up-4">
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
	</div>

</section>
<hr>
