<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<title>SPF Test Site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="dist/css/foundation-6/foundation.min.css" />
	<link rel="stylesheet" href="dist/css/styles.css" />
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

	<nav id="navbar" class="top-bar"></nav>

	<header id="header" class="callout large"></header>

	<section id="content">
		<div class="row">
			<div class="medium-6 columns medium-push-6">
				<img class="thumbnail" src="http://placehold.it/750x350">
			</div>
			<div class="medium-6 columns medium-pull-6">
				<h2>Our Agency, our selves.</h2>
				<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<h3>Photoshop</h3>
				<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
			</div>
			<div class="medium-4 columns">
				<h3>Javascript</h3>
				<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
			</div>
			<div class="medium-4 columns">
				<h3>Marketing</h3>
				<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
			</div>
		</div>
		<hr>
		<div class="row column">
			<ul class="vertical medium-horizontal menu expanded text-center">
				<li><a href="./models.php"><div class="stat">5</div><span>Models</span></a></li>
				<li><a href="./photos.php"><div class="stat">28</div><span>Photo Sets</span></a></li>
				<li><a href="./videos.php"><div class="stat">43</div><span>Videos</span></a></li>
				<li><a href="./xxx.php"><div class="stat">22</div><span>XZX</span></a></li>
			</ul>
		</div>
		<hr>
		<div class="row column">
			<h3>Our Recent Work</h3>
		</div>
		<div class="row medium-up-3 large-up-4">
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
			<div class="column">
				<img class="thumbnail" src="http://placehold.it/550x550">
			</div>
		</div>
	</section>

	<hr>

	<footer id="footer" class="row column"></footer>

	<script type="text/javascript" src="node_modules/spf/dist/spf.js"></script>
	<script type="text/javascript">
		var b = spf.init();console.log('spf initialised: ', b);
		spf.load('./navbar', {})
		spf.load('./header', {})
		spf.load('./footer', {})
	</script>
	<script type="text/javascript" src="src/js/app.js"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="dist/js/foundation-6/foundation.min.js"></script>
	<script type="text/javascript">
		$(document).foundation();
	</script>

</body>
</html>
