<div class='row column'>
	<h3>Sign Up</h3>
</div>

<div class="callout">
	<form>
		<div class="row">
			<div class="small-12 columns">
				<label>Username
				<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 columns">
				<label>Email
				<input type="text" placeholder="you@domain.com">
				</label>
			</div>
			<div class="small-12 columns">
				<label>Password
				<input type="password" placeholder="">
				</label>
			</div>
			<div class="small-12 columns">
				<label>Repeat Password
				<input type="password" placeholder="">
				</label>
			</div>
			<button type="button" class="alert button float-center">Join</button>
		</div>
	</form>
</div>