<div id="small-menu" data-responsive-toggle="menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">
        	<a href='./'>SPF/SPA</a>
        	<span class="show-for-medium">Testsite</span>
        </div>
</div>
<div id="menu">
	<div class='top-bar-left'>
		<ul class='menu'>
			<li class='menu-text hide-for-small-only'>
				<a href='./'>SPF/SPA</a>
				<span class="show-for-medium">Testsite</span>
			</li>
			<li><a class='spf-link' href='./videos'>Videos</a></li>
			<li><a class='spf-link' href='./photos'>Photos</a></li>
		</ul>
	</div>
	<div class='top-bar-right'>
		<ul class='menu'>
			<li class='spf-link'><a href='./join'>Join</a></li>
			<li class='spf-link'><a href='./login'>Log In</a></li>
		</ul>
	</div>
</div>