<div class='top-bar-left'>
	<ul class='menu'>
	<li class='menu-text'>SPA-Site (Prototype)</li>
	<li><a class='spf-link' href='./videos'>Videos</a></li>
	<li><a class='spf-link' href='./photos'>Photos</a></li>
	</ul>
</div>
<div class='top-bar-right'>
	<ul class='menu'>
	<li class='spf-link show-for-medium'><a href='./join'>Join</a></li>
	<li class='spf-link show-for-medium'><a href='./login'>Log In</a></li>
	<li class='show-for-small-only'><button class='menu-icon' type='button'></button></li>
	</ul>
</div>