<div class='row column'>
	<h3>Recent Videos</h3>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "http://placehold.it/160x120">
    </div>
  </div>
  <div class="media-object-section">
    <h4>Quick Video Here</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "http://placehold.it/160x120">
    </div>
  </div>
  <div class="media-object-section">
    <h4>Quick Video Here</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "http://placehold.it/160x120">
    </div>
  </div>
  <div class="media-object-section">
    <h4>Quick Video Here</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "http://placehold.it/160x120">
    </div>
  </div>
  <div class="media-object-section">
    <h4>Quick Video Here</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>